body {
  margin: 0;
  padding-bottom: 60px;
  font-family: sans-serif;
}

.Letter {
  background: #fefee5;
  max-width: 700px;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(30, 30, 30, 0.4);
  font-family: serif;
  box-sizing: border-box;
}

.Letter__header {
  color: #347c25;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.Letter__signoff {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.05em;
}

.Letter__footer {
  color: #347c25;
  text-align: center;
  text-transform: uppercase;
  margin-top: 6rem;
}

.NameInput {
  border: 0;
  font-family: serif;
  background: transparent;
  color: #347c25;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px dashed #347c25;
}

.GenerateButton {
  border: 0;
  color: #ffffff;
  background: #347c25;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
  font-size: 2rem;
  font-family: serif;

}